body {
  --padding: 10px;
  --margin: 10px;
}

.nasa-image {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  position: absolute;
}

.image-title {
  font-size: clamp(12px, 5vw, 18px);
  font-weight: bold;
  margin: var(--margin);
  color: ivory;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.info {
  flex: 1;
  height: 100%;
  line-height: 1.5rem;
  transform: translateY(calc(100% - 8rem));
  transition: transform 0.5s;
  cursor: default;
}

.revealable {
  opacity: 0;
  transition: opacity 0.5s;
}

.image-container:hover,
.image-container:focus-within {
  transform: scale(1.02);
}

:not(.inspected).image-container:hover .info,
:not(.inspected).image-container:focus-within .info {
  transform: translateY(calc(100% - 10rem));
}
.image-container:hover .revealable,
.image-container:focus-within .revealable {
  opacity: 1;
}

.inspected.image-container .nasa-image,
.inspected.image-container .nasa-image {
  filter: blur(20px) brightness(40%);
  -moz-filter: blur(20px) brightness(40%);
  -webkit-filter: blur(20px) brightness(40%);
  -o-filter: blur(20px) brightness(40%);
}

.description {
  text-align: justify;
  margin: 0 20px;
  color: ivory;
}

.image-container {
  max-height: 100vh;
  transition: transform 0.5s;
  position: relative;
  min-height: 80vh;
  width: 100%;
  font-family: "Poppins";
  margin: var(--margin);
  border: 1px solid black;
  flex: 1;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

/* Larger Screens */
@media only screen and (min-width: 900px) {
  .image-container {
    height: 80vh;
    width: 88%;
  }
}

.inspected .info {
  transform: translateY(0);
}

.info {
  max-height: 90vh;
  overflow-y: scroll;
  pointer-events: all;
}

.heart-icon {
  position: relative;
  margin-right: 10px;
}

button .liked {
  color: red;
}

button {
  color: white;
  background: none;
  border: none;
  outline: none;
}

button:focus-visible {
  border: 1px solid #005fcc;
  border-radius: 5px;
}

.description-button {
  padding: var(--padding);
  border-radius: 5px;
  border: 1px solid ivory;
  background-color: rgba(0, 0, 0, 0.6);
  color: ivory;
  font-family: "Poppins";
  font-weight: bold;
  line-height: 2rem;
  font-size: clamp(12px, 5vw, 18px);
  cursor: pointer;
  pointer-events: all;
}

.hidden {
  display: none;
}
.heart-hidden {
  pointer-events: none;
  position: absolute;
  opacity: 0;
}

.date {
  flex: 1;
  text-align: left;
  height: 100%;
  color: ivory;
  padding: var(--padding);
  margin: 0;
  pointer-events: none;
}

.inspected .header-uninspected {
  transition: opacity 0.5s;
  opacity: 0;
}

.times-icon {
  padding-left: var(--padding);
  visibility: hidden;
  cursor: pointer;
  z-index: 2;
}

.inspected .header {
  position: sticky;
  top: 0;
  backdrop-filter: blur(31px);
  pointer-events: all;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.inspected .header h1 {
  flex: 1;
}

.inspected .times-icon {
  visibility: visible;
  cursor: pointer;
}

.header-uninspected {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  transition: opacity 0.5s;
  align-items: center;
}

.delay-hide {
  transition: opacity 0s;
  transition-delay: 0.9s;
}
